<section class="search-and-user">
  <div class="cont nav_container">
    <a href="index.html">
      <h4>CERES</h4>
    </a>
    <!-- <ul class="nav_menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="courses.html">Courses</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul> -->
    <!-- <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
    <button id="close-menu-btn"><i class="uil uil-multiply"></i></ button> -->
  </div>
</section>
