.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*///////////////////////////////////////////////////////////*/

body {
  letter-spacing: 1px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  color: white;
  text-align: left;
  background-color: #1e1e2f;
  box-sizing: border-box;
}
.wrapper {
  position: relative;
    width: 100%;
}
.navigation
{
    position: fixed;
    width: 200px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    background: var(--white2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: width 0.5s, left 0,5s;
    top:0;
}
.navigation.active
{
width: 0;
}
.navigation ul
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
}
.navigation ul li
{
  position: relative;
  width: 100%;
  list-style: none;  
}
.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0;
    white-space: normal;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.5;
}
.navigation ul li a:hover
{
   opacity: 1; 
}
html {
  padding: 20px;
  font-weight: 300;
}

main {
  position: absolute;
    width: calc(100% - 200px);
    background: ver(--white);
    left: 200px;
    min-height: 100vh;
    transform: width 0.5s, left 0.5s;
    top:0;
}

section {
  margin-bottom: 40px;
}

h1 {
  font-size: 3em;
  font-weight: 100;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 29px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 15px;
  font-weight: 200;
}
h2 {
  color: white;
  font-size: 1.4em;
  margin-bottom: 29px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 15px;
  font-weight: 200;
}

hr {
  border-color: white;
  margin-bottom: 50px;
}

figure {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px 10px 30px;
  box-shadow: 0 1px 20px 0px rgb(0 0 0 / 10%);
  border-radius: 0.2857rem;
}

figure p {
  margin-bottom: 7px;
  font-size: 0.8em;
}

canvas {
  width: 100%;
}

/* grid */

[class*="cols"] {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cols-3 > * {
  width: 33.33%;
  margin: 10px;
}

.cols-2 > * {
  width: 50%;
  margin: 10px;
}

.cols-1 > * {
  width: 100%;
  margin: 10px;
}

#tempGrafic {
  max-height: 300px;
}
#humSoil {
  max-height: 300px;
}
#cylGauge1,
#cylGauge2 {
  max-height: 300px;
}
section {
  opacity: 0;
  transition: opacity 0.3s;
}

.running section {
  opacity: 1;
}

.loading {
  position: absolute;
  border: none;
}

.running .loading {
  display: none;
}
