<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js"></script>
  <meta charset="utf-8" />
  <%- include ("partials/head.html") %>
    <title>
      <%= title %>
    </title>
</head>

<body class="running">
  <%- include ("partials/svg.html") %>
    <%- include ("partials/sidebar.html") %>

      <section class="page-content">
        <main>
          <!-- <h1>Monitoreo de Esp32/Ceres_IoT</h1>
          <p>Visualización de estadísticas</p>
          <hr />
          <h2 class="loading">Esperando respuesta de la API...</h2> -->
          <section class="cols-3">
            <figure>
              <p>Nivel de Agua</p>
              <h3>Tanque Principal</h3>
              <div class="ajustt2">
                <canvas id="cylGauge1"></canvas>
              </div>
              
            </figure>
            <div>
              <figure class="minfigure">
                <p>Información del Tanque</p>
                <h3>Tanque Principal</h3>
                <div class="column">
                  <div class="row">
                    <p>Volumen Total:&ensp;</p>
                    <p id="totalPricipal"></p>
                  </div>
                  <div class="row">
                    <p>Liquido Faltante:&ensp;</p>
                    <p id="liquidoPricipal"></p>
                  </div>
                  <div class="row">
                    <p>Estado del Tanque:&ensp;</p>
                    <p id="estadoPricipal"></p>
                  </div>
                </div>
              </figure>
              <figure class="minfigure" style="margin-bottom:0px;">
                <p>Información del Tanque</p>
                <h3>Tanque Reserva</h3>
                <div>
                  <div class="row">
                    <p>Volumen Total:&ensp;</p>
                    <p id="totalReserva"></p>
                  </div>
                  <div class="row">
                    <p>Liquido Faltante:&ensp;</p>
                    <p id="liquidoReserva"></p>
                  </div>
                  <div class="row">
                    <p>Estado del Tanque:&ensp;</p>
                    <p id="estadoReserva"></p>
                  </div>
                </div>
              </figure>
            </div>

            <figure>
              <p>Nivel de Agua</p>
              <h3>Tanque Reserva</h3>
              <div class="ajustt2">
                <canvas id="cylGauge2"></canvas>
              </div>
            </figure>
          </section>

          <section class="cols-0">
            <figure class="right">
              <p>Humedad de Ambiente</p>
              <h3>Porcentaje de Humedad del Ambiente</h3>
              <canvas id="humEnv"></canvas>
            </figure>
            <figure class="left">
              <p>Gráfico lineal</p>
              <h3>Grafico de Temperatura</h3>
              <canvas id="tempGrafic"></canvas>
            </figure>
          </section>

          <section class="cols-2">
            <figure>
              <p>Humedad de Ambiente</p>
              <h3>Porcentaje de Humedad del Ambiente</h3>
             <!--  <canvas id="humEnv"></canvas> -->
            </figure>
            <figure>
              <p>Humedad de la Tierra</p>
              <h3>Porcentaje de Humedad de Tierra</h3>
              <div class="ajustt">
                <canvas id="humSoil"></canvas>
              </div>
            </figure>
          </section>
          <section class="cols-1">
            <figure>
              <p>Panel de Control</p>
              <h3>Control de Llenado</h3>

              <div class="inputDiv">
                <label for="customRange1" class="form-label">Slider de PWM</label>
                <div class="etiqueta"></div>
                <input type="range" class="form-range" id="input3" value="0" min="0" max="255" autocomplete="off">
              </div>
              <div class="inputDiv">
                <label for="customRange1" class="form-label">LED</label>
                <label class="switch2">
                  <input type="checkbox" id="myCheck" onclick="myFunction()">
                  <span class="slider round"></span>
                </label>
              </div>

            </figure>
          </section>
          </div>

        </main>
      </section>
      <%- include ('partials/footer.html') %>
        <script src="/socket.io/socket.io.js"></script>
        <script>
          // Tópicos a los que se suscribe
          const topic4 = "ceres/led";
          const topic5 = "ceres/slider";
          var socket = io();
          function myFunction() {
            // Get the checkbox
            var checkBox = document.getElementById("myCheck");
            // Get the output text
            // If the checkbox is checked, display the output text
            if (checkBox.checked == true) {
              socket.emit(topic4, 'on')
            } else {
              socket.emit(topic4, 'off')
            }
          }
          var elInput3 = document.querySelector('#input3');
          if (elInput3) {
            var etq = document.querySelector('.etiqueta');
            if (etq) {
              etq.innerHTML = elInput3.value;
              elInput3.addEventListener('input', function () {
                // cambia el valor de la etiqueta (el tooltip) 
                etq.innerHTML = elInput3.value;
                // cambia la posición de la etiqueta (el tooltip) 
                socket.emit(topic5, elInput3.value)
              }, false);

            }
          }

        </script>
        <script>
          // Tópicos que publica
          const topic1 = "ceres/sensor/ambiente/temperatura";
          const topic2 = "ceres/sensor/ambiente/humedad";
          const topic3 = "ceres/sensor/distancia";
          const topic6 = "ceres/sensor/planta/humedad-tierra";
          const topic7 = "ceres/tanque/principal/estado";
          const topic8 = "ceres/tanque/auxiliar/estado";
          const topic9 = "ceres/tanque/principal/volumen-total";
          const topic10 = "ceres/tanque/auxiliar/volumen-total";
          const topic11 = "ceres/tanque/principal/volumen-liquido";
          const topic12 = "ceres/tanque/auxiliar/volumen-liquido";
          const topic13 = "ceres/tanque/principal/porcentaje-liquido";
          const topic14 = "ceres/tanque/auxiliar/porcentaje-liquido";
          
          let counters = 0;
          var socket = io();
          socket.on(topic1, function (data) {
            if(temperatureGrafic.data.labels.length>20){
              temperatureGrafic.data.labels.length=0;
              temperatureGrafic.data.datasets.forEach((dataset) => {
              dataset.data.length=0;
            }); 
              counters = 0;
            }else{
              temperatureGrafic.data.labels.push(counters);
            temperatureGrafic.data.datasets.forEach((dataset) => {
              dataset.data.push(data.value);
            });
            counters++;
            }
            temperatureGrafic.update();
          });
          socket.on(topic6, function (data) {
            
            humiditySoil.data.datasets.forEach((dataset) => {
              dataset.needleValue = data.value;
            }); 
             humiditySoil.update(); 
          });
          socket.on(topic2, function (data) {
            environmentHumedity.data.datasets.forEach((dataset) => {
              dataset.needleValue = data.value;
            }); 
            environmentHumedity.update();
          });
          socket.on(topic13, function (data) {
            tankWater1.data.datasets.forEach((dataset) => {
              dataset.data = [data.value];
            });
            tankWater1.update();
          });
          socket.on(topic14, function (data) {
            tankWater2.data.datasets.forEach((dataset) => {
              dataset.data = [data.value];
            });
            tankWater2.update();
          });

          socket.on(topic7, function (data) {
            var dato = document.getElementById("estadoPricipal");
            dato.innerHTML = data.value
          });
          socket.on(topic9, function (data) {
            var dato = document.getElementById("totalPricipal");
            dato.innerHTML = data.value
          });
          socket.on(topic11, function (data) {
            var dato = document.getElementById("liquidoPricipal");
            dato.innerHTML = data.value
          });
          socket.on(topic8, function (data) {
            var dato = document.getElementById("estadoReserva");
            dato.innerHTML = data.value
          });
          socket.on(topic10, function (data) {
            var dato = document.getElementById("totalReserva");
            dato.innerHTML = data.value
          });
          socket.on(topic12, function (data) {
            var dato = document.getElementById("liquidoReserva");
            dato.innerHTML = data.value
          });





        </script>
        <script src="js/paint.js"></script>
</body>

</html>